.feedback {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    color: white;
    display: none;
}
.feedback.success {
    background-color: #198754;
    display: block;
}
.feedback.error {
    background-color: #dc3545;
    display: block;
}

#user-table th.text-end,
#user-table td:last-child {
    text-align: right;
}